body {
    font-size: 18px;
    font-family: helvetica;
}
header {
	font-size: 50px;
	font-weight: bold;
	color: #424242;
}
a {
	color: #03A9F4;
	text-decoration: none;
	padding: 10px;
}
a:visited {
	color: #03A9F4;
}
a:hover {
	color: #ef5350;
	text-decoration: none;
	cursor: pointer;
}
nav span:not(:last-child):after {
	color: #CFD8DC;
	content: "|";
}
div span:not(:last-child):after {
	color: #CFD8DC;
	content: "|"
}
ul {
	line-height: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}
li {
	margin-bottom: 30px;
}
h5 {
	letter-spacing: 5px;
	margin-top: 40px;
}
/* em definition */
.date {
	font-weight: thin;
	font-style: italic;
	color: #B0BEC5;
}
.title {
	font-weight: bold;
	font-style: italic;
}
.intro {
	line-height: 1.5;
}
.row {
	border-style: solid;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-left: 0px;
	border-right: 0px;
	border-width: 1px;
}
.centertext {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content {
	max-width: 900px;
	margin: auto;

	border-style: solid;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-left: 0px;
	border-right: 0px;
	border-width: 5px;
}
.column {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: 1.5;
}
.left {
	width: 60%;
	padding-right: 10px;
}
.right {
	width: 20%;
	margin-left: 90px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.italic {
	font-weight: bold;
	font-style: italic;
}
